---
layout: default
---

{% capture read_time %}
  {{ page.content | number_of_words | divided_by: 180 }}
{% endcapture %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} • {% if read_time != '0' %}
  {{ read_time }}
{% else %}
  1
{% endif %} min read</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
